<div class="main-title">
    <h1>book chapters</h1>
</div>

<div class="content">
    <div class="block-content ">
        <div class="row ">
            <div class="col-md-12">
                {% for chapter in site.data.bookchapters %}
                <p><strong>{{ chapter.chapter }}</strong>. {{ chapter.author }}. In <i>{{ chapter.title }}</i>. {{ chapter.publisher }}. {{ chapter.year }}{% if chapter.isbn %}. ISBN: {{ chapter.isbn }}{% endif %}{% if chapter.url %} <a href="{{ chapter.url }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
