<div class="main-title">
    <h1>who i am</h1>
</div>

<div class="content">
    <div class="block-content">
        <div class="row">
            <blockquote>I learn, therefore I am</blockquote>

            <div class="col-md-12">
                <p>I´m Rubén Salado, a PhD. student in computer science, who is passionate about (but not limited to) <span class="highlight">data-centric computing</span>: big data, data science, distributed architectures, and more.</p>
            </div>

            <div class="col-md-12">
                <p>My reseach focuses on how to facilitate the definition of data-intensive processes to non-IT domain experts and how to automatically execute them across different computational environments, such as grids or clouds, in an optimal way.</p>
            </div>

            <div class="col-md-12">
                <p>Member of the <a href="http://www.uco.es/kdis" target="_blank">Knowledge Discovery and Intelligent Systems (KDIS)</a> research group at University of Córdoba.</p>
            </div>
        </div>
    </div>
</div>
