<div class="main-title">
    <h1>who i am</h1>
</div>

<div class="content">
    <div class="block-content">
        <div class="row">
            <blockquote>I learn, therefore I am</blockquote>

            <div class="col-md-12">
                <p>I´m Rubén Salado, a PhD. student in computer science, who is passionate about (but not limited to) <span class="highlight">data-centric computing</span>: big data, data science, distributed architectures, and more.</p>
            </div>

            <div class="col-md-12">
                <p>My research focuses on how to bring the <span class="highlight">processing of large amounts of data</span> closer to domain experts, independently of their computation skills. To this end, it is necessary to develop new mechanisms that <span class="highlight">facilitate the use of data science techniques and technologies to computing non-experts</span> by, e.g., reusing and adapting generic data-intensive techniques to specific application domains, enabling the high level definition of complex data processing applications or managing their execution over the most suitable computing platforms in a transparent way.</p>
            </div>

            <div class="col-md-12">
                <p>Member of the <a href="http://www.uco.es/kdis" target="_blank">Knowledge Discovery and Intelligent Systems (KDIS)</a> research group at <a href="http://www.uco.es" target="_blank">University of Córdoba</a>.</p>
            </div>
        </div>
    </div>
</div>
