body {
    background: #efefef;
    font: 14px/22px "Open Sans", sans-serif, Arial;
    padding-top: 50px;
}

section {
    background: #fff;
    color: #999;
}

header {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

li {
    list-style: none;
}

strong {
    color: #000;
    font-weight: 600;
}

.main-header {
    text-align: center;
}

.main-header h1 {
    font-size: 2.5rem;
    font-weight: 600; 
}

.main-header h6 {
    font-weight: 300;
}

.profile {
    border-bottom: 1px solid #efefef;
}

.block-content a {
    text-decoration: none;
    color: #666;
}

.main-nav a {
    text-decoration: none;
    color: #000;
}

.main-nav {
    font-weight: 700;
}

.main-nav ul, .social {
    padding: 0;
}

.main-nav ul li {
    padding: 5px;
}

.social a {
    color: #a9a9a9;
}

.social a:hover {
    color: #000;
}

.main-title {
    border-bottom: 1px solid #efefef;
    padding: 10px 40px 0px;
}
	
.main-title h1 {
    font-size: 15px;
    font-weight: 800;
}

.content {
    padding: 40px;
}

.bottom-header {
    text-align: center;
    border-top: 1px solid #efefef;
}

.bottom-header ul li {
    display: inline-block;
    margin: 1.6rem;
}

.img-profile {
    border-bottom: 1px solid #efefef;
}

header img {
    margin-top: 3.7rem;
}

.active {
    font-style: italic;
}

.timeline {
    position: relative;
}

.timeline:before {
	background: #ededed;
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px;
	height: 100%;	
}

.marker {
    padding-left: 50px;
    padding-top: 12px;
    position: relative;
    margin-bottom: 10px;
}

.marker:after {
    background: #333;
    border: 3px solid #ffffff;
    content: "";
    height: 15px;
    left: 12px;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 15px;
    border-radius: 5px;
}

.marker .hgroup h4 {
    margin-bottom: 0;
    text-transform: none;
    font-weight: 600;
    font-size: 1.15em;
    display: inline-block;
}

.marker .hgroup {
    margin-bottom: 5px;
}

.marker .hgroup h6 {
    text-transform: none;
    font-size: 12px;
    color: #666666;	
}


.marker .hgroup h6 i {
    color: #cccccc;
    margin-right: 5px;
}


.marker .hgroup h6 span.current {
    color: #ffffff;
    background: #333;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1px 5px;
}

.marker .hgroup h6 span.current, .marker .hgroup h6  {
    font-style: italic;
}

blockquote {
    font-style: italic;
    font-size: 1.5em;
}

.highlight {
    color: #666;
}
